<template>
  <vue-command
    :yargs-options="{ alias: { show: ['show'], open: ['open']} }"
    :commands="commands"
    show-help
    title="About me @: ~gitlab.com/gruberx"
    prompt="~root@user:#"
    show-intro
    help-text="help"
    intro="Welcome to Gruber's README. Type 'help' in order to see the available commands."
    not-found="command not found."
  />
</template>

<script>
import VueCommand from 'vue-command'
import 'vue-command/dist/vue-command.css'

export default {
  name: 'Terminal',
  components: {
    VueCommand
  },

  data: () => ({
    commands: {
      ls: ({ _ }) => {
        return 'documents/<br>root/<br>'
      },
      // yargs arguments
      link: ({ open, _ }) => {
        if (open && _[1] === 'gitlab') {
          return '<a href="https://gitlab.com/gruberx">Click here to open my Gitlab Page</a> <p class="intro-title">(press CTLR together to open in a new page)</p>'
        } else if (open && _[1] === 'linkedin') {
          return '<a href="https://www.linkedin.com/in/rodrigo-g">Click ehre to open my LinkedIn Page</a> <p class="intro-title">(press CTLR together  to open in a new page)</p>'
        } else if (open && _[1] === 'github') {
          return '<a href="https://github.com/cloudgruber">Click here to open Github profile</a> <p class="intro-title">(press CTLR together to open in a new page)</p>'
        } else if (open && _[1] === 'repository') {
          return '<a href="https://gitlab.com/vilanify/showcase">Click here to open this portfolio repository link</a> <p class="intro-title">(press CTLR together to open in a new page)</p>'
        } else if (open && _[1] === 'website') {
          return '<a href="https://blog.tulpas.dev">Click here to open my personal website and blog</a> <p class="intro-title">(press CTLR together to open in a new page)</p>'
        }
        // Return help since no match
        return `<p class="important"/>Usage options:</p link [option] --open<br>
        options: <p class="highlight">gitlab | linkedin | lastfm | steam | repository</p><br>
        <p class="important"/>example:</p> link gitlab --open`
      },
      email: ({ show, _ }) => {
        if (show && _[1] === 'gruber') {
          return '<p class="important"/>Email for contact:</p> <a href="mailto:contact@tulpas.dev">contact@tulpas.dev</a><br>'
        }
        // Return help since no match
        return '<p class="important"/>Usage:</p> email gruber --show<br>'
      },
      help: () => {
        return (
          '<p class="important"/>Available Commands:</p>' +
          '<br>' +
          '<p class="highlight"/>email --help</p>       <p class="intro-title">|  show my email</p>' +
          '<br>' +
          '<p class="highlight"/>link --help | --list</p>    <p class="intro-title">| visit my professional and personal urls</p>' +
          '<br/>'
        )
      }
    }
  })
}
</script>

<style lang="scss">
.vue-command {
  opacity: 0.8;
  background: #0000;
  span,
  a,
  input,
  textarea{
    color: rgb(135, 170, 168);
  }
  .term {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: rgba(29, 31, 32, 0.5);
    box-shadow: 0 20px 60px 10px rgba(0, 0, 0, 0.5);
  }

  .term-std {
    background: rgba(29, 31, 32, 0.85);
    min-height: 300px;
    max-height: 300px;
    text-align: left;
    overflow-y: scroll;
  }
  .important{
    display:inline-block;
    color: #FF6B6B;
  }
  .highlight{
    display:inline-block;
    color: #21E0D0;
  }
  .intro-title{
    display:inline-block;
    color:rgb(56, 69, 82);
  }
}
</style>
