<template>
  <div>
    <div class="background_desk">
      <vue-particles
        color="#dedede"
        :particle-opacity="0.7"
        :particles-number="120"
        shape-type="circle"
        :particle-size="2"
        lines-color="#dedede"
        :lines-width="1"
        :line-linked="true"
        :line-opacity="0.4"
        :lines-distance="100"
        :move-speed="7"
        :hover-effect="true"
        hover-mode="grab"
        :click-effect="false"
      />
    </div>
    <section>
      <div v-if="$device.isDesktop">
        <section class="container_desk">
          <div class="terminale_desk">
            <Terminal />
          </div>
        </section>
      </div>
      <div v-else>
        <div class="background_mobile">
          <section class="container_mobile">
            <div class="terminale_mobile">
              <Terminal />
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Terminal from '~/components/Terminal.vue'

export default {
  components: {
    Terminal
  }
}
</script>

<style>

.terminale_desk{
  min-height: 550px;
  max-height: 550px;
  min-width: 1100px;
  max-width: 1100px;
}

.container_desk {
  margin: 0 auto;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subtitle_desk {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}
.background_desk {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.terminale_mobile{
  min-height: 500px;
  max-height: 500px;
  min-width: 150px;
  max-width: 150px;
}

.background_mobile{
  background: url(https://images.wallpaperscraft.com/image/parking_underground_bw_135224_3840x2400.jpg);
}
.container_mobile {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subtitle_mobile {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
